body {
	background:url(../css/img/fondoB.png);
	background-size: cover;
	font-family: 'Times New Roman', Times, serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Times New Roman', Times, serif;
}
.container {
margin: 25px auto;
position: relative;
	width: 650px;
}

#content {
	background: #ffffff;
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	margin-top: 15%;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 100%;
	display: flex;
}
#content:after,
#content:before {
	background: #ffffff;
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	border: 1px solid #c4c6ca;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
}
#content:after {
	transform: rotate(2deg);
	top: 0;
	z-index: -1;
}
#content:before {
	transform: rotate(-3deg);
	top: 0;
	z-index: -2;
}

  .left {
	/* top: 0;
	left: 0; */
	box-sizing: border-box;
	/* padding: 40px; */
	width: 50%;
	height: auto;
	background: rgb(255, 255, 255);
	flex-direction: column;
  }
	.left h1 {
		color: #7E7E7E;
		font: bold 25px Helvetica, Arial, sans-serif;
		letter-spacing: -0.05em;
		line-height: 20px;
		margin: 45px 0 30px;
	}
	.left form input[type="text"],
	.left form input[type="password"] {
		border-radius: 17px;
		border: 1px solid #c8c8c8;
		margin: 0 0 10px;
		width: 80%;
		height: 8%;
		text-align: center;
		background: #F8F8F8;
	}
	i{
		margin: 8px;
		color:#a1a1a1;
	}
	.left form input[type="submit"]{
		background: rgb(254,231,154);
		border-radius: 30px;
		box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
		border: 1px solid #D69E31;
		color: #85592e;
		cursor: pointer;
		font: bold 15px Helvetica, Arial, sans-serif;
		height: 35px;
		margin: 8px;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
		width: 120px;
	}
	/* .left form div a {
		color: #050d80;
		margin: 30px 15px 0 0;
	} */
  .right {
	/* position: in; */
	/* top: 0;
	right: 0; */
	/* box-sizing: border-box; */
	/* padding: 40px; */
	width: 50%;
	height: 350px;
	border-radius: 0 2px 2px 0;
	background: url(../css/img/fondoLogin.png) no-repeat;
	background-size: 110%;
  }
  img{
	margin-top: 50px;
  }